# А вот и наш первый минипроект :)

## Задачи
1. Импортируйте библиотеку pandas как pd.
2. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.
3. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
4. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
5. На сколько ночей в среднем бронируют отели разных типов?
6. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
7. Проанализируйте даты запланированного прибытия.
– На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов.
8. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?
9. Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?
10. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), и False – в противном случае. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.


### Описание данных
Имеются следующие переменные:

Hotel – тип отеля (City Hotel или Resort Hotel)
Is canceled – бронирование было отменено (1) или нет (0); неотменённое считается успешным
Lead time – количество дней, прошедших между датой бронирования и датой прибытия
Arrival full date – полная дата прибытия
Arrival date year – год прибытия
Arrival date month – месяц прибытия
Arrival date week number – номер недели прибытия
Arrival date day of month – день прибытия
Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
Adults – число взрослых
Children – число детей
Babies – число младенцев
Meal – выбранный тип питания
Country – страна происхождения клиента
Reserved room type – тип зарезервированного номера
Assigned room type – тип полученного номера (может отличаться от забронированного)
Customer type – тип бронирования
Reservation status – значение последнего статуса брони: Canceled – было отменено клиентом; Check-Out – клиент зарегистрировался, но уже покинул отель; No-Show – клиент не зарегистрировался и сообщил администрации отеля причину
Reservation status date – дата обновления статуса

In [119]:
import pandas as pd

In [120]:
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', encoding='utf-8', sep=';')

In [121]:
bookings_head = bookings.head(7)

In [122]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

2. Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [123]:
bookings.shape

(119390, 21)

3. К какому типу относится большинство переменных?

In [124]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
Name: count, dtype: int64

4. Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию: приведите названия столбцов к нижнему регистру и замените пробелы на знак нижнего подчёркивания. Например: Is Canceled -> is_canceled

In [125]:
bookings = bookings.rename(columns=lambda  x: x.lower().replace(' ', '_'))

In [126]:
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

5. Перейдём к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований?
Бронирование считается успешным, если в дальнейшем оно не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [127]:
bookings.query('is_canceled == 0').country.value_counts()[:5]

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

6. На сколько ночей (stays_total_nights) в среднем бронируют отели типа City Hotel? Resort Hotel?
 Получите значения с точностью до 2 знаков после точки.

In [128]:
bookings\
    .groupby('hotel')\
    .agg({'stays_total_nights': 'mean'})\
    .round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [129]:
bookings\
    .query('hotel == "Resort Hotel"')\
    .stays_total_nights\
    .mean()\
    .round(2)

4.32

7. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.
Сколько подобных наблюдений встретилось в датасете?
*отмена бронирования также считается

In [130]:
overbookings = bookings[['assigned_room_type', 'reserved_room_type']]

In [131]:
overbookings

       assigned_room_type reserved_room_type
0                       C                  C
1                       C                  C
2                       C                  A
3                       A                  A
4                       A                  A
...                   ...                ...
119385                  A                  A
119386                  E                  E
119387                  D                  D
119388                  A                  A
119389                  A                  A

[119390 rows x 2 columns]

In [132]:
overbookings.query('assigned_room_type != reserved_room_type').shape[0]

14917

8. Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?

In [133]:
bookings\
    .query('arrival_date_year == 2016')\
    .arrival_date_month\
    .value_counts()

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: count, dtype: int64

In [134]:
bookings\
    .query('arrival_date_year == 2017')\
    .arrival_date_month\
    .value_counts()

arrival_date_month
May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: count, dtype: int64

 9. Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [153]:
(
    bookings
        .query('hotel == "City Hotel" and is_canceled == 1')
        .groupby('arrival_date_year', as_index=False)
        .arrival_date_month
        .value_counts()
)

    arrival_date_year arrival_date_month  count
0                2015          September   1543
1                2015            October   1321
2                2015             August   1232
3                2015               July    939
4                2015           December    668
5                2015           November    301
6                2016            October   1947
7                2016               June   1720
8                2016          September   1567
9                2016              April   1539
10               2016                May   1436
11               2016           November   1360
12               2016             August   1247
13               2016              March   1108
14               2016           December   1072
15               2016               July   1043
16               2016           February    930
17               2016            January    438
18               2017                May   2217
19               2017              April   1926
20               2017               June   1808
21               2017               July   1324
22               2017              March   1278
23               2017             August   1123
24               2017            January   1044
25               2017           February    971

10. Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [155]:
people = bookings[['adults', 'children', 'babies']]
people.describe()

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

In [138]:
people.mean().sort_values(ascending=False)

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

11. Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
City hotel – отель находится в городе
Resort hotel – отель курортный
В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [139]:
bookings['total_kids'] = bookings.children + bookings['babies'] # 2 типа обращения

In [140]:
bookings.groupby('hotel')\
        .agg({'total_kids': 'mean'})\
        .round(decimals=2)\
        .max()

total_kids    0.14
dtype: float64

12. Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше.

В качестве ответа укажите наибольший %, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [141]:
bookings['has_kids'] = bookings.total_kids > 0
bookings['has_kids']

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: has_kids, Length: 119390, dtype: bool

In [156]:
no_kids_churn = bookings.query('has_kids == False and is_canceled == 1').shape[0] / bookings.query('has_kids == False').shape[0]
no_kids_churn = round(no_kids_churn*100, ndigits=2)

In [157]:
no_kids_churn

37.22

In [161]:
yes_kids_churn = bookings.query('has_kids == True and is_canceled == 1').shape[0] / bookings.query('has_kids == True').shape[0]
yes_kids_churn = round(yes_kids_churn*100, ndigits=2)

In [162]:
yes_kids_churn

34.92