In [6]:
import pandas as pd
from datetime import datetime

In [7]:
def send_product_report(file_path):
    df = pd.read_csv(file_path, 
                 encoding='windows-1251', sep=';')  
    
    df = df.rename(columns={'Номер': 'number', 
                   'Дата создания': 'create_date', 
                   'Дата оплаты': 'payment_date', 
                   'Title': 'tittle', 
                   'Статус': 'status',
                   'Заработано': 'money', 
                   'Город': 'city', 
                   'Платежная система': 'payment_system'})    
    
    all_money = df.money.sum()
    
    money_title = df \
        .query("status == 'Завершен'") \
        .groupby(['tittle'], as_index=False) \
        .aggregate({'money': 'sum', 'number': 'count'}) \
        .sort_values('money', ascending=False) \
        .rename(columns={'number': 'success_orders'})    
    
    today_day = datetime.today().strftime('%Y-%m-%d')
    file_name = 'money_title_{}.csv'
    file_name = file_name.format(today_day)    
    
    if int(money_title.money.sum()) == int(all_money):
        print('OK! File {} is written.'.format(file_name))
        money_title.to_csv(file_name, index=False)
    else:
        print('ERROR!')  
        
    return money_title

In [8]:
file_path = 'https://stepik.org/media/attachments/lesson/383514/lesson_1_data.csv'

In [9]:
df = send_product_report(file_path)

OK! File money_title_2023-12-28.csv is written.

In [10]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/383514/lesson_1_data.csv',
                 encoding='windows-1251', sep=';')

In [11]:
df.tail()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [12]:
df.shape

(292, 8)

In [13]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [14]:
df.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [15]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [16]:
df = df.rename(columns={'Номер': 'number', 
               'Дата создания': 'create_date', 
               'Дата оплаты': 'payment_date', 
               'Title': 'tittle', 
               'Статус': 'status',
               'Заработано': 'money', 
               'Город': 'city', 
               'Платежная система': 'payment_system'})

In [17]:
df.tail()

,number,create_date,payment_date,tittle,status,money,city,payment_system
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [18]:
df[['tittle', 'status']].head()

                        tittle    status
0      Курс обучения «Эксперт»  Завершен
1      Курс обучения «Эксперт»  Завершен
2   Курс обучения «Специалист»   Отменен
3  Курс обучения «Консультант»   Отменен
4      Курс обучения «Эксперт»   Отменен

In [19]:
all_money = df.money.sum()

In [20]:
all_money

992103.5900000001

In [21]:
money_by_city = df \
    .groupby(['tittle', 'city'], as_index=False) \
    .aggregate({'money': 'sum'}) \
    .sort_values('money', ascending=False)

In [22]:
money_by_city.to_csv('money_by_city.csv', index=False)

In [23]:
money_title = df \
    .query("status == 'Завершен'") \
    .groupby(['tittle'], as_index=False) \
    .aggregate({'money': 'sum', 'number': 'count'}) \
    .sort_values('money', ascending=False) \
    .rename(columns={'number': 'success_orders'})

In [24]:
today_day = datetime.today().strftime('%Y-%m-%d')
file_name = 'money_title_{}.csv'
file_name = file_name.format(today_day)

In [25]:
if int(money_title.money.sum()) == int(all_money):
    print('OK! File {} is written.'.format(file_name))
    money_title.to_csv(file_name, index=False)
else:
    print('ERROR!')

OK! File money_title_2023-12-28.csv is written.